<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Product page</h1>
    <h2><%=@product.title%></h2>
    <h3>Bids already made for this product:</h3>

    <ul>
      <%@product_bids.each do |bid|%>
      <li> <%= bid.amount %> $ from <%user = User.find_by(id: bid.user_id)%>
        <%=user.name %>
        <%end%>
      </li>
    </ul>


    <h3>Bid on this product:</h3>

      <%= form_for @bid do |f| %>
      <input type="text" name="bid_email" placeholder="email">

      <%= f.label :amount%>
      <%= f.number_field :amount%>

      <%= f.label :product_id%>
  

      <%= f.submit "save"%>
    <%end%>


  </body>
</html>
