<!DOCTYPE html>
<html>
  <head>
    <title>AuctionSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, id: key, style: "color: pink;"%> -->
    <!-- <% end %> -->
    <%= yield %>
    <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
    <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
    <% end %>

  <footer>
    <!-- <% unless @current_user.nil? %>-->

    <!-- <% end %>

    <% current_uri = request.env['PATH_INFO']%>
    <% if @current_user.nil? && current_uri != '/login' %>
      <%= link_to "Log in", "/login" %>
    <% end %>  -->
  </footer>

  </body>
</html>
