<h1>Here's the result to your caluculation</h1>

The result of <%= @num1 %> + <%= @num2 %> is <%= @result %>


<%= link_to "Back to the calculator", calculator_path%>

<%= link_to "Back to the homepage", "/"%>
